## .NET & Visual Studio
[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.log
desktop_error.log

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rms/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
